<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <mat-card style="margin-top: 10px; margin-bottom: 20px; ">
        <div class="container text-center">
          <img src="../../../assets/logo.jpg" alt="" height="100px" width="100px">
        </div>
        <h2 class="text-center">Register here</h2>
        <!-- {{user| json}} -->
        
        <form (ngSubmit)="formsubmit()">

//
          <!-- {{usernamenotfound}} -->


          <mat-form-field class="w-full" appearance="outline">
            <mat-label>UserName</mat-label>
            <input required="" [(ngModel)]="user.username" name="username" matInput placeholder="Enter Your userName">
            <mat-hint>UserName Must be Unique</mat-hint>
          </mat-form-field>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>FirstName</mat-label>
            <input required="" [(ngModel)]="user.firstName" name="firstName" matInput
              placeholder="Enter Your FirstName">
          </mat-form-field>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>LastName</mat-label>
            <input required [(ngModel)]="user.lastName" name="lastName" matInput placeholder="Enter Your LastName">
            //
          </mat-form-field>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Password</mat-label>
            <input required [(ngModel)]="user.password" name="password" type="password" matInput
              placeholder="Enter Your Password">
          </mat-form-field>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="user.email" name="email" type="email" matInput placeholder="Enter Your Email Address">
          </mat-form-field>
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input [(ngModel)]="user.phone" name="phone" matInput placeholder="Enter Your PhoneNumber">
          </mat-form-field>
          <div class="container text-center">
            <button type="submit" mat-raised-button color="primary">Register</button>
            <button type="reset" mat-raised-button>Clear</button>
          </div>
        </form>
      </mat-card>
      </div>
    </div>
  </div>
</div>