<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt10" >
                <mat-card style="margin-top: 10px;">
                    <div class="container text-center">
                        <img src="../../../assets/login.jpg" alt="" height="100px" width="100px">
                    </div>
                    <h2 class="text-center">Login Here</h2>
                    
                        <form>
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>UserName</mat-label>
                                <input required="" matInput placeholder="Enter Your userName">
                            </mat-form-field>
                            <mat-form-field class="w-full" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input required type="password" matInput placeholder="Enter Your Password">
                            </mat-form-field>
                            <div class="container text-center">
                                <button type="submit" mat-raised-button color="primary"
                                    style="margin: 10px;">Login</button>
                                <button mat-raised-button>Reset</button>
                            </div>
                        </form>
                     </mat-card>
            </div>
    </div>
</div>